<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{head :: head}">
    </head>
<body>
    <nav th:replace="~{head :: nav}">
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>This is a sample Spring Boot application using Thymeleaf templates.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <a th:href="@{/add-employee}" type="button" class="btn btn-primary">New</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">name</th>
                                <th scope="col">role</th>
                                <th scope="col">actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="employee : ${employees}">
                                <td th:text="${employee.id}"></td>
                                <td th:text="${employee.name}"></td>
                                <td th:text="${employee.role}"></td>
                                <td>
                                    <a th:href="@{/edit-employee/{id}(id=${employee.id})}" type="button" class="btn btn-primary">Edit</a>
                                    <button type="button" class="btn btn-danger" th:onclick="|deleteEmployee('${employee.id}')|">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script th:inline="javascript">
            var host = window.location.origin;
            function deleteEmployee(id) {
                axios({
                  method: 'delete',
                  url: host + '/delete-employee/' + id,
                  responseType: 'stream'
                }).then(function (response) {
                    window.location.replace(host);
                })
            }
        </script>
    </main>
    <footer th:replace="~{footer :: footer}">
    </footer>
</body>
</html>
